<link rel="stylesheet" href="/css/product.css" type="text/css" />

<div class="road-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0 clearfix">
				<a href="./" class="float-left">Home</a><span class="ml-2 mb-0 float-left">/</span>
				<p class="text-black ml-2 float-left">Artwork</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="wrapper">
			<div class="float-left">
				<h1>ARTWORK</h1>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row mt-5">
			<div class="col-md-7">
				<!-- <div class="row justify-content-center"> -->

				<% if (post.file.length > 1) { %>

				<div class="big">
					<img src="/uploads/<%= post.file[0] %>" id="expandedImg" class="img-fluid img-thumbnail" />
				</div>

				<div class="sub">
					<% post.file.forEach(f => { %>

					<div class="column float-left">
						<img src="/uploads/<%= f %>" style="width: 100%;" onclick="myFunction(this);" />
					</div>

					<% }) %>
				</div>
				<div class="clearfix"></div>

				<% } else { %>
				<div class="image-gallery">
					<a href="/uploads/<%= post.file %>" class="magnifier-thumb-wrapper"><img
							src="/uploads/<%= post.file[0] %>" alt="" id="artImg"
							class="img-fluid img-thumbnail w-100" /></a>
				</div>
				<% } %>
			</div>

			<div class="col-md-5">
				<div class="artwork-text">
					<h3><%= post.title %></h3>
					<h4>
						<a href="/home/user/artist/profile/<%= post.artist %>"><%= post.artist %> </a>
					</h4>

					<div class="artwork-text-line mt-1 mb-3"></div>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Price:</span>
						<span class="float-right">$ <%= post.price %></span>
					</p>
					<div class="clearfix"></div>

					<% if(post.buyingFormat == 'Discount') { %>
					<p>
						<span class="float-left mb-1 artwork-text-head">Discount Price:</span>
						<span class="float-right text-success">$ <%= post.discountPrice %> </span>
					</p>
					<div class="clearfix"></div>
					<% } %>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Condition:</span>
						<span class="float-right"><%= post.condition %></span>
					</p>
					<div class="clearfix"></div>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Size:</span>
						<span class="float-right"><%= post.size %></span>
					</p>
					<div class="clearfix"></div>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Medium:</span>
						<span class="float-right"><%= post.medium %></span>
					</p>
					<div class="clearfix"></div>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Category:</span>
						<span class="float-right"><%= post.category %></span>
					</p>
					<div class="clearfix"></div>

					<p>
						<span class="float-left mb-1 artwork-text-head"> Buying Format:</span>
						<span class="float-right"><%= post.buyingFormat %></span>
					</p>
					<div class="clearfix"></div>

					<div class="artwork-text-line mt-2 mb-2"></div>

					<% if (user == undefined || user.userType == 'Customer') { %>

					<% if (typeof session.cart !== 'undefined' && Object.keys(session.cart.items).includes(post.id)) { %>

					<a href="#" class="btn btn-secondary" id="remove__btn"
						onclick="cart('/home/order/cart/delete/<%= post.id %>')">
						Remove from Cart
					</a>

					<% } else { %>
					<a href="#" class="btn btn-secondary add-to-cart"
						onclick="cart('/home/order/cart/add/<%= post.id %>')">
						Add to Cart
					</a>
					<%}%> 

					<% if (user != undefined && user.wishlist.includes(post.id)) { %>
					<a href="#" class="float-right wishlist" title="Remove from wishlist"
						onclick="cart('/home/user/wishlist/<%= post.id %>')">
						<i class="fa fa-heart"></i>
					</a>

					<% } else { %>
					<a href="#" class="float-right wishlist" title="Add to wishlist"
						onclick="cart('/home/user/wishlist/<%= post.id %>')">
						<i class="fa fa-heart-o"></i>
					</a>
					<%}%>

					<% } %>
				</div>
			</div>
		</div>

		<%# Artwork Description %>
		<div class="container mt-3">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							Artwork Description
						</div>
						<div class="card-body">
							<p class="card-text">
								<%= post.description %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%# Artwork Comments %>
		<div class="container mt-5">
			<div class="row ">
				<div class="col-md-6 col-sm-12">
					<div class="comment-wrapper">
						<div class="panel panel-info">
							<div class="panel-heading mt-3">

								<% if (user != undefined) { %>
								<% if (post.allowComments) { %>

								<h6>Leave a Comment :</h6>
								<form method="POST" action="/home/user/comment/<%= post.slug %>"
									onsubmit="event.preventDefault(); displaySpinner(this,'btn-comment')">
									<textarea name="body" class="form-control mt-3" placeholder="write a comment..."
										rows="2" style="resize: none;border: none; border-bottom: 1px solid #cccccc;"
										required></textarea>

									<input type="hidden" name="id" value="<%= post.id %>">

									<button type="submit" class="btn btn-secondary pull-right comment-btn"
										id="btn-comment">Post</button>
								</form>

								<% } else { %>
								<h5> Comments are currently turned off for this post !</h5>
								<br>
								<% } %>

								<% } else { %>

								<h5>You need to <a class="text-warning" href="/home/login"> login </a> to
									post your
									comment !
								</h5>

								<br>
								<% } %>
								<div class="clearfix"></div>
								<hr>
							</div>
							<div class="panel-body">

								<ul class="media-list">

									<% post.comments.forEach(comment => { %>

									<% if (comment.approveComment) { %>
									<li class="media">
										<a href="#" class="mr-3">
											<img src="/uploads/users/<%= comment.image %>" alt="" class="">
										</a>
										<div class="media-body">
											<strong class="text-success"><%= comment.username %></strong>
											<p>
												<%= comment.body %>
											</p>
										</div>
									</li>
									<% } %>

									<% }) %>
							</div>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<%# Related Artworks %>
	<div class="container" style="margin-top: 70px; margin-bottom: 25px;">
		<div class="row">
			<div class="col-12 text-center related-artworks">
				<h3>RELATED ARTWORKS</h3>
			</div>
		</div>
	</div>
	<div class="container mb-3">
		<div class="row">
			<% artworks.forEach(artwork => { %>

			<div class="col-md-4 card-padd mt-1">
				<div class="card shadow" style="width: auto;">
					<div class="inner img">
						<a href="/home/productpage/<%=artwork.slug%>">
							<img class="card-img-top" src="/uploads/<%=artwork.file[0]%>" alt="" />
						</a>
					</div>

					<div class="card-body">
						<h4 class="card-title">
							<%= artwork.title %>
						</h4>
						<div class="buying-format">
							<p>Buying Format: <%= artwork.buyingFormat %></p>
						</div>
						<div class="artwork-category">
							<p>Category: <%= artwork.category %></p>
						</div>
						<div class="artist-name">
							<p><%= artwork.artist %></p>
						</div>

						<% if (artwork.buyingFormat == 'Auction') { %>
						<a href="/home/biddingroom" class="btn btn-primary">View More</a>
						<% } else { %>
						<a href="/home/productpage/<%=artwork.slug%>" class="btn btn-primary">View More</a>
						<% } %> <% if (artwork.buyingFormat != 'Auction' ) { %>
						<h5 class="mt-2 float-right">
							<% if (artwork.buyingFormat == 'Discount') { %>
							<span class="discount pr-2" style="text-decoration: line-through;">
								$<%= artwork.price %>
							</span>

							<div class="text-success float-right">
								$<%= artwork.discountPrice %>
							</div>

							<div class="clearfix"></div>
							<% } else { %>
							<span>$<%= artwork.price %> </span>
							<% } %>
						</h5>
						<% } %>
					</div>
				</div>
			</div>
			<% }) %>
		</div>












	</div>

</div>
</div>


<script src="/js/product.js"></script>